model/
Archived_Files/
*.pyc
.env
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
# Jupyter Lab
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.ipynb
# Data & Models
engine/models/
*.db
static/charts/*.png
# System/IDE
.DS_Store
.vscode/